{% extends '_base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/groupchats/chat_room.css' %}">
{% endblock %}

{% block content %}
    {{ chat_room_obj.name|json_script:"room-name" }}
    <span class="d-none page-number" id="id-page-number">1</span>
    <div class="card mt-3">
        <div class="card-header">
            <div class="d-flex flex-row justify-content-between">
                <h3 class="">Public Chat</h3>
                <div class="d-flex flex-row align-items-center">
                    <span class="material-icons m-auto pr-1 connected-users-icon">person_outline</span>
                    <span class="m-auto connected-users" id="id-connected-users"></span>
                </div>
            </div>
        </div>
        <div class="card-body p-1">
            <div class="d-flex flex-column" id="id-chat-log-container">
                <div class="d-flex flex-row justify-content-center" id="id-chatroom-loading-spinner-container">
                    <div class="spinner-border text-primary"  id="id-chatroom-loading-spinner" role="status"  style="display: none; ">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="d-flex chat-log" id="id-chat-log"></div>
                <div class="d-flex chat-message-input-container">
                    <textarea class="flex-grow-1 chat-message-input" id="id-chat-message-input"></textarea>
                    <button class="btn btn-primary chat-message-submit-button">
                        <span id="id-chat-message-submit" class="material-icons">send</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" id="modal-button" class="d-none btn btn-primary" data-toggle="modal" data-target="#errorModal">
        Launch demo modal
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">OOPS..!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div id="error-modal-body" class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script src="{% static 'js/groupchats/chat_room.js' %}"></script>
{% endblock %}