head{
    font-family: "Segoe UI";
    font-weight: 380;
}
body{
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* background-color: #f2f2f2; */
    font-family: "Segoe UI";
    font-weight: 380;
}

.main{
    min-height: 100vh;
    height: 100%;
}

:root{
    --main-background-color: #f2f2f2;
    --dark-background-color: #a2a2a2;
    --secondary-text-color: #808080;
    --light-primary-text-color: #0080ff;
}