{% extends '_base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/accounts/edit_profile.css' %}">
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card profile-card">
            <div class="card-body">
                <div class="d-flex flex-column justify-content-center p-4">
                    <img id="selected_profile_image" src="{{ user.profile_image.url }}" class="d-block border border-dark rounded-circle" alt="profile image" width="300" height="300">
                    <form class="form-signin" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" accept="image/*" name="{{ form.profile_image.name }}" id="profile_image_input">
                        <h6 class="mt-4 field-heading">Email</h6>
                        <input type="email" name="email" id="id_input_email" class="form-control" placeholder="Email address" value="{{ user.email }}" disabled>
                        <h6 class="mt-4 field-heading">Username</h6>
                        <input type="text" name="username" id="id_input_username" class="form-control" value="{{ user.username }}" disabled>
                        <div class="mt-4 checkbox">
                            <label>
                                <input type="checkbox" name="hide_email" id="id_input_hide_email" {% if form.initial.hide_email %}checked{%endif%}>
                                Hide Email
                            </label>
                            
                        </div>

                        {% for field in form %}
                        <p>
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                        {% endfor %}
                        {% if form.non_field_errors %}
                        <div style="color: red">
                        <p>{{form.non_field_errors}}</p>
                        </div>

                        {% endif %}

                        <div class="d-flex flex-column mt-4">
                            <button class="mt-4 btn btn-primary flex-grow-1" type="submit">Save</button>
                        </div>
                        
                    </form>

                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/accounts/edit_profile.js' %}"></script>
{% endblock %}