{% extends '_base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/accounts/profile.css' %}">
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="d-flex flex-row justify-content-center flex-wrap align-items-start">

			<div class="card profile-card m-2">
			<div class="card-body">
				<div class="d-flex flex-column justify-content-center p-4">
					<img class="d-block border border-dark rounded-circle" alt="profile image" src="{{ user_object.profile_image.url }}" width="300" height="300">
					<p class="mt-4 mb-1 field-heading">Email</p>
					{%  if user == user_object %}
						<h5>{{ user.email }}</h5>
					{% else %}
						{% if user_object.hide_email %}
							<h5>**********</h5>
						{% else %}
							<h5>{{ user_object.email }}</h5>
						{% endif %}
					{% endif %}
					<p class="mt-4 mb-1 field-heading">Username</p>
					<h5>{{ user_object.username }}</h5>

					<!-- If Auth user is viewing their own profile -->
					{% if user.username == user_object.username %}
					<a  class="mt-4 btn btn-primary" href="{% url 'accounts:edit_profile' %}">Update</a>
					<div class="d-flex flex-column mt-4">
						<a class="m-auto" href="{% url 'account_change_password' %}">Change password</a>
					</div>
					{% endif %}
				</div>
			</div>
			</div>


			<div class="d-flex flex-column mb-4">
				<!-- THEM to YOU -->
				{% if received_friend_req %}
				<div class="card m-2 p-4">
					<div class="d-flex flex-row align-items-center">
						<span class="friend-text align-items-center mr-2">Accept Friend Request</span>
						<span class="decline-friend-request material-icons p-1" onclick="triggerHandleFriendRequest(`{% url 'friendships:handle-friend-request' received_friend_req.id %}`, false)">cancel</span>
						<span class="confirm-friend-request material-icons p-1" onclick="triggerHandleFriendRequest(`{% url 'friendships:handle-friend-request' received_friend_req.id %}`, true)">check</span>
					</div>
				</div>
				{% endif %}

				<div class="card m-2 px-4 pb-4">
					<!-- Cancel Friend Request / Send Friend Request / Remove Friend -->
					{% if not is_friend and user != user_object %}
						<!-- You sent them a request -->
						{% if sent_friend_req %}
							<div class="d-flex flex-column align-items-center pt-4">
								<button class="btn btn-danger" onclick="cancelFriendRequest(`{% url 'friendships:cancel-friend-request' %}`, `{{ sent_friend_req.pk }}`)">
									Cancel Friend Request
								</button>
							</div>
						{% else %}
							<div class="d-flex flex-column align-items-center pt-4">
								<button class="btn btn-primary" onclick="sendFriendRequest(`{% url 'friendships:send-friend-request' %}`, `{{ user_object.id }}`)">
									Send Friend Request
								</button>
							</div>
						{% endif %}
					{% endif %}

					{% if is_friend %}
						<div class="dropdown pt-4 m-auto">
							<button class="btn btn-secondary dropdown-toggle friends-btn" type="button" id="id_friends_toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Friends
							</button>
							<div class="dropdown-menu" aria-labelledby="id_friends_toggle">
								<a class="dropdown-item" href="#">Unfriend</a>
							</div>
						</div>
                	{% endif %}
					<!-- Friend list link -->
					<div class="d-flex flex-column pt-4">
						<a href="#">
							<div class="d-flex flex-row align-items-center justify-content-center icon-container">
								<span class="material-icons mr-2 friends-icon">contact_page</span><span class="friend-text">Friends ({{ user_object.friendship.friends.count }})</span>
							</div>
						</a>
					</div>
				</div>
	
			</div>

		</div>
	</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/accounts/profile.js' %}"></script>
{% endblock %}


