.image-container{
    max-width: 250px;
    height: auto;
    position: relative;
}
.field-heading{
    color: #737373;
}
#id_confirm{
    color: green;
}
#id_confirm:hover {
    opacity: 0.3;
}
#id_cancel:hover {
    opacity: 0.3;
}
#id_cancel{
    color: red;
}
.material-icons{
    font-size: 30px;
}
.material-icons:hover{
    cursor: pointer;
}