.image-container{
    max-width: 250px;
    height: auto;
}
.field-heading{
    color: var(--secondary-text-color);
}
.icon-container:hover {
    opacity: 0.3;
    cursor: pointer;
}
.friends-icon{
    color: #4287f5;
    font-size: 40px;
}
.person-add-icon{
    color: #4287f5;
    font-size: 40px;
}
.friend-text{
    font-weight: 500;
    color: black;
}
.friends-btn{
    background-color: #cccccc;
    border-color: #cccccc;
    color: #000;
    font-weight: 500;
}
.friends-btn:hover {
    background-color: #bfbfbf;
    border-color: #bfbfbf;
}
.dropdown-toggle::after { 
    content: none; 
}
.card{
    border-radius: 12px;
}
.material-icons{
    font-size: 30px;
}
.material-icons:hover{
    cursor: pointer;
}
.confirm-friend-request{
    color: green;
}
.confirm-friend-request:hover {
    opacity: 0.3;
}
.decline-friend-request:hover {
    opacity: 0.3;
}
.decline-friend-request{
    color: red;
}
.message-btn-text{
    font-weight: 500;
}