{% load static %}

<div class="d-flex flex-column flex-lg-row p-3 px-md-4 mb-3 border-bottom shadow-sm" style="background-color: #b4e0ff;">

	<!-- MEDIUM+ SCREENS -->
	<div class="d-none d-md-flex flex-row my-auto flex-grow-1 align-items-center">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/letschat.svg' %}" width="40" height="40" alt="home" loading="lazy">
        </a>

		<a class="btn btn-info mr-2 ml-2" href="{% url 'groupchats:chat-room' room_name='public' %}" type="button">Public Chat Room</a>
		<a class="btn btn-info mr-5" href="{% url 'privatechats:chat-room' %}" type="button">Private Chats</a>

		<form class="search-bar justify-content-start form-inline" action="{% url 'accounts:search' %}">
			<input type="text" class="form-control" name="q" id="id_q_large" placeholder="Search...">
			<button class="btn btn-outline-success ml-1" type="submit">Search</button>
		</form>

		<div class="d-flex flex-row-reverse flex-grow-1">
			<nav>
				{% if user.is_authenticated %}
					<div class="dropdown dropleft show p-2">
						<div class="d-flex flex-row">

							<div class="btn-group dropleft">
								<div class="d-flex notifications-icon-container rounded-circle align-items-center mr-3" id="id_chat_notification_dropdown_toggle" data-toggle="dropdown">
									<span id="id_chat_notifications_count" class="notify-badge"></span>
									<span class="d-flex material-icons notifications-material-icon m-auto align-items-center">chat</span>
									<div class="dropdown-menu scrollable-menu" aria-labelledby="id_chat_notification_dropdown_toggle" id="id_chat_notifications_container"></div>
								</div>
							</div>

							<div class="btn-group dropleft">
								<div class="d-flex notifications-icon-container rounded-circle align-items-center mr-3" id="id_notification_dropdown_toggle" data-toggle="dropdown">
									<span id="id_general_notifications_count" class="notify-badge"></span>
									<span class="d-flex material-icons notifications-material-icon m-auto align-items-center">notifications</span>
									<div class="dropdown-menu scrollable-menu" aria-labelledby="id_notification_dropdown_toggle" id="id_general_notifications_container"></div>
								</div>
							</div>

							<div class="btn-group dropleft">
								<img class="account-image rounded-circle m-auto d-block dropdown-toggle" id="id_profile_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="{{ user.profile_image.url }}" alt="codingwithmitch logo" width="40" height="40">
								<div class="dropdown-menu" aria-labelledby="id_profile_links">
									<a class="dropdown-item" href="{% url 'home:dashboard' %}">Dashboard</a>
									<a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
								</div>
							</div>
						</div>
						
					</div>
				{% else %}
					<a class="btn btn-success" href="{% url 'account_login' %}">Login | Register</a>
					<!-- <a class="btn btn-outline-light" href="{% url 'account_signup' %}">Register</a> -->
				{% endif %}	
			</nav>
		</div>
	</div>
	<!-- END MEDIUM+ SCREENS -->

	<!-- SMALL SCREENS -->
	<div class="d-flex d-md-none flex-column my-auto align-items-center">
		<h5 class="font-weight-normal">
		<a class="p-2 text-dark" href="/">Home</a>
		</h5>
		<form class="search-bar justify-content-start" action="{% url 'accounts:search' %}">
			<input type="text" class="form-control" name="q" id="id_q_small" placeholder="Search...">
		</form>
		<div class="d-flex flex-row-reverse flex-grow-1">
			<nav class="">
				{% if user.is_authenticated %}
				<div class="dropdown dropleft p-2 mt-2">
					<div class="d-flex flex-row">
						<div class="btn-group dropleft">
							<img class="account-image rounded-circle m-auto d-block dropdown-toggle" id="id_profile_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="{{ user.profile_image.url }}" alt="codingwithmitch logo" width="40" height="40">
							<div class="dropdown-menu" aria-labelledby="id_profile_links">
								<a class="dropdown-item" href="{% url 'accounts:profile' username=request.user.username %}">Profile</a>
							</div>
						</div>
					</div>
				</div>
				{% else %}
					<a class="btn btn-outline-success m-2" href="{% url 'account_login' %}">Login | Register</a>
					<!-- <a class="btn btn-success m-2" href="{% url 'account_signup' %}">Register</a> -->
				{% endif %}	
			</nav>
	  	</div>
	</div>
	<!-- END SMALL SCREENS -->
</div>
