{% load static %}

<!DOCTYPE html>
<html lang=en>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>LetsChat</title>

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>

    <body>
        {% include 'snippets/_navbar.html' %}
        
        <div class="main">
            {% block content %}

            {% endblock content %}
        </div>

        {% include 'snippets/_footer.html' %}
        
        <script src="{% static 'js/base.js' %}"></script>
    </body>

</html>